/************************************************************************
							MAX-WIDTH:980px
*************************************************************************/

@media screen and (max-width:980px) {
header{
	position:fixed;
	height:auto;
	background-color:#272727;
	z-index:1000;
}
.title-image{
	margin-left:40px;
	width:60vh;
	height:18vh;
}
.nav-menu{
	margin-top:30px;
}
ul, li {
font-size:2.5vh;
font-weight:500;
font-family:tahoma;
text-transform:uppercase;
color:#fff;
}
.donor{
	-webkit-transform: scale(0.8);
}
}

/************************************************************************
							MAX-WIDTH:650px
*************************************************************************/

@media screen and (max-width: 650px) {
header{
	position:fixed;
	height:50px;
	width:100%;
	background-color:#272727;
	z-index:1000;
}
.title-image{
	margin-left:40px;
	width:60vh;
	height:18vh;
}
.nav-menu{
	margin-top:10px;
}
ul, li {
font-size:2.5vh;
font-weight:500;
font-family:tahoma;
text-transform:uppercase;
color:#fff;
}
.description{
font-size:15px;
font-weight:100;
word-spacing:5px;
padding-top:80px;
padding-bottom:80px;
padding-left:20px;
padding-right:20px;
}

.donor-title{
position:relative;
font-family:tahoma;
text-transform:uppercase;
text-align:center;
font-size:36px;
color:#fff;
font-weight:400;
letter-spacing:1.5px;
}

}
/************************************************************************
							MAX-WIDTH:480px
*************************************************************************/
@media screen and (max-width: 480px) {
header{
	position:fixed;
	height:45px;
	width:100%;
	background-color:#272727;
	z-index:1000;
}
.title-image{
	margin-left:15px;
	width:60vh;
	height:18vh;
}
.nav-menu{
	margin-top:10px;
}
ul, li {
font-size:2.5vh;
font-weight:500;
font-family:tahoma;
text-transform:uppercase;
color:#fff;
}
.description{
font-size:15px;
font-weight:100;
word-spacing:5px;
padding-top:80px;
padding-bottom:80px;
padding-left:10px;
padding-right:10px;
}

.donor-title{
position:relative;
font-family:tahoma;
text-transform:uppercase;
text-align:center;
font-size:36px;
color:#fff;
font-weight:400;
letter-spacing:1.5px;
}
}
/************************************************************************
							MAX-WIDTH:320px
*************************************************************************/


@media screen and (max-width: 320px) {
header{
	position:relative;
	height:25px;
	width:100%;
	background-color:#272727;
	z-index:1000;
}
.title-image{
	margin-left:15px;
	width:60vh;
	height:18vh;
}
.nav-menu{
	margin-top:0px;
}
ul, li {
font-size:2.5vh;
font-weight:500;
font-family:tahoma;
text-transform:uppercase;
color:#fff;
}
}