/**************************
		RESET
**************************/
body,header,section,article,h1,h2,h3,h4,h5,h6,p,a,div{
padding:0;
margin:0;
font-family:champagne;
text-decoration:none;
}

.left{
	float:left;
}
.right{
	float:right;
}

body{
	background: url(check4.jpg) no-repeat center center fixed;
	background-size:cover;
}
@font-face {
    font-family: champagne;
    src: url('champagne.ttf');
}
hr{
width:95%;
background-color:#272727;
border:0px;
height:1px;
}
/**************************
		HEADER
**************************/

header{
position:fixed;
height:95px;
width:100%;
background-color:#272727;
z-index:1000;
}

.title-image{
	margin-left:40px;
	width:340px;
	height:100px;
}

.nav-menu{
margin-top:30px;
}

ul, li {
display:inline;
font-size:16px;
font-weight:500;
font-family:champagne;
text-transform:uppercase;
color:#fff;
}

/**************************
	FIRST DIV
**************************/

.main-image{
	position:relative;
	width:100%;
	
	height:590px;
	top:95px;
	background-size:cover;
	z-index:500;
}

.arrow{
	position:relative;
	height:60px;
	width:60px;
}
/**************************
		SECOND DIV
**************************/
.about{
position:relative;
min-height:600px;
height:670px;
max-height:1800px;
background-color:rgba(255,255,255,0.45);
text-align:center;
}
.about-title{
position:relative;
top:80px;
font-family:champagne;
text-transform:uppercase;
text-align:center;
font-size:36px;
color:#242424;
font-weight:400;
letter-spacing:1.5px;
}
.jumbo{
font-size:54px;
}
/**************************
	DONOR THUMBNAILS
**************************/
.all-donor{
position:relative;
padding-left:5%;
width:90%;
top:100px;
height:auto;
}

.donor{
position:relative;
width:35vh;
height:35vh;
border-radius:5px;
-webkit-transform: scale(0.9);
-webkit-transition: -webkit-transform 0.35s;
}
.donor:hover{
-webkit-transform: scale(1);
}

/************************************
	DONOR DESCRIPTION(THIRD DIV)
*************************************/
.description{
position:relative;
background-color:rgba(39,39,39,0.75);
text-align:center;
color:white;
height:560px;
font-family:champagne;
font-size:20px;
font-weight:100;
word-spacing:5px;
padding-top:80px;
padding-bottom:80px;
padding-left:40px;
padding-right:40px;
}

.donor-title{
position:relative;
font-family:champagne;
text-transform:uppercase;
text-align:center;
font-size:36px;
color:#fff;
font-weight:400;
letter-spacing:1.5px;
}
.none{
display:none;
}
.fade{
opacity:1;
-webkit-animation: fade 0.5s linear 1;
}
@-webkit-keyframes fade {
0%{opacity:0;}
100%{opacity:1}
}
/************************************
	UPDATES (FOURTH DIV)
*************************************/
.updates{
position:relative;
background-color:transparent;
text-align:center;
color:white;
min-height:560px;
height:auto;
font-family:champagne;
font-size:20px;
font-weight:100;
word-spacing:5px;
padding-top:80px;
padding-bottom:80px;
padding-left:40px;
padding-right:40px;
}
.events{
position:relative;
background-color:rgba(39,39,39,0.5);
text-align:left;
color:#fff;
min-height:120px;
height:auto;
font-family:champagne;
font-size:20px;
font-weight:100;
word-spacing:5px;
padding-top:20px;
padding-bottom:10px;
padding-left:40px;
padding-right:40px;
border-radius:5px;
box-shadow:inset 0px 0px 0px black, 0px 3px 0px 0px black, 0px 10px 5px black;
-webkit-transition: -webkit-transform 0.5s;
}
.events:hover{
-webkit-transform:scale(1.05);
}
/**************************
	CONTACT (FIFTH DIV)
**************************/
.contact_us{
position:relative;
background-color:rgba(255,255,255,0.15);
text-align:left;
color:black;
min-height:520px;
font-size:3vh;
font-weight:100;
word-spacing:1vh;
padding-top:12vh;
padding-bottom:12vh;
padding-left:18vh;
padding-right:6vh;
}

#people{
padding-top:6vh;
padding-bottom:6vh;
width:80vh;
padding-left:6vh;
text-align:left;
float:left;
}
#contact_image{
	float:left;
	width:24vh;
	height:24vh;
	border-radius:12vh;
}
#contact_cover{
	position:absolute;
	width:24vh;
	height:24vh;
	border-radius:12vh;
	background:red;
}

footer{
position:relative;
background-color:#272727;
text-align:center;
color:white;
padding-left:40px;
padding-right:40px;
padding-top:20px;
padding-bottom:20px;
min-height:165px;
max-height:auto;
font-size:20px;
word-spacing:5px;
}
#footer_title{
float:right;
text-align:left;
}
.footer_left {
font-size:18px;
font-weight:100;
float:left;
text-align:left;
text-decoration:none;
font-family:champagne;
}
a, a:visited, a:active{
color: white;
-webkit-transition: color 0.5s;
}
a:hover {
color:grey;
}
#social_links{
	margin-top:40px;
	width:40px;
	height:40px;
	border-radius:20px;
	cursor:pointer;
	-webkit-transition: transform 0.5s;
}
#social_links:hover{
	-webkit-transform: scale(1.2);
	
}
.donor_links{
	margin-top:40px;
	width:60px;
	height:60px;
	border-radius:30px;
	cursor:pointer;
	-webkit-transition: transform 0.5s;
}
.donor_links:hover{
	-webkit-transform: scale(1.2);
	
}



